.l1 {
    border: 1px solid;
    margin: 5px;
}

.l2 {
    border: 1px solid;
    margin: 10px;
    padding: 10px
}

.l3 {
    border: 1px solid;
    margin: 10px;
    /*background-color: #9B7D77*/
}

.analysis {
    border: 1px solid;
    margin: 10px;
    /*background-color: #9B7D77*/
}

.titlebar1{
	border: 1px solid;
	margin: 10px;
	/*text-decoration: underline;*/
	text-align: center;
	font-size: 130%;
}

.titlebar2{
	border: 1px solid;
	margin: 2px;
	text-align: center;
	font-size: 100%;
	margin: 5px;
}

.introbar{
    overflow:auto;
    border: 1px solid;
    margin: 10px;
}

.news_table{
    margin: 5px;
    border: 1px solid;
}

.item_box{
    border: 1px solid;
    margin: 10px;
}

.introchild{
    float:left; 
    width:24%; 
    text-align: center;
    margin: 2px;
}

.search_guide_text{
    border: 1px solid;
    padding: 8px;
    margin: 10px;
}

.search_guide_input_text{
    border: 1px solid;
    padding: 8px;
    margin: 10px;
}

.search_guide_input_select{
    border: 1px solid;
    padding: 8px;
    margin: 10px;
}

.search_guide_button{

}

.search_guide_button_div{
    border: 1px solid;
    padding: 8px;
    margin: 10px;
    text-align: center;
}

.search_guide_intro_div{
    border: 1px solid;
    padding: 8px;
    margin: 10px;
    text-align: left;
}

